<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15756766448-d47dou2amc4ol9fmrjvcdr10ntr04drl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15756766448-d47dou2amc4ol9fmrjvcdr10ntr04drl</string>
	<key>API_KEY</key>
	<string>AIzaSyCSWNlVwxYC2b5SItl5Bcma409LdJvL99A</string>
	<key>GCM_SENDER_ID</key>
	<string>15756766448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.softMarket</string>
	<key>PROJECT_ID</key>
	<string>marketplace-caeae</string>
	<key>STORAGE_BUCKET</key>
	<string>marketplace-caeae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15756766448:ios:cae425eff1bb09a9f7a635</string>
</dict>
</plist>